
/* フォント設定 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 0.95em;
    letter-spacing: 0.03em;
    color: var(--c-font);
    background: var(--c-base);
}

h1, h2, #new dt {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    /* basic */
    --c-font: rgb(64,64,64);
    --c-font-b: rgb(80,80,80);
    --c-font-dk: rgb(250,250,250);
    --c-font-dk-b: rgb(255,255,255);
    --c-base: rgb(250,250,250);
    --c-border: rgb(220,220,220);
    --c-dark: rgb(70,70,70);
    --c-dk-gray: rgb(128,128,128);
    --c-gray: rgb(210,210,210);
    --c-lt-gray: rgb(235,235,235);
    /* color */
    --c-main: #7DBB7C;
    --c-sub: #BA8B40;
    --c-accent: #D3336F;
    --c-back: #FDEFF2;
}


/* スクロールバー */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--c-lt-gray);
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: var(--c-main);
}


/* テキスト装飾 */

h1, h2, h3, h4, h5, b {
    color: var(--c-font-b);
}

footer h2,
footer h3,
footer h4,
footer h5,
footer b {
    color: var(--c-font-dk-b);
}

small {
    color: var(--c-dk-gray);
}

strong {
    color: var(--c-accent);
}

header {
    margin-bottom: 2em;
}
header h1 {
    display: flex;
    align-items: center;
    font-weight: 400;
}
header h1::before {
    content: "";
    display: inline-block;
    width: 64px;
    height: 64px;
    aspect-ratio: 1 / 1;
    margin: 10px 20px 10px 10px;
    border-radius: 8px;
    background: url("img/img_icon.png");
    background-size: 100%;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 0 1em 2em;
}

footer,
footer a,
footer a:hover {
    color: var(--c-font-dk);
}
footer {
    padding: 5px 20px 20px;
    border-top: 3px solid #7779;
    background: var(--c-dark);
}
footer > * {
    max-width: 1200px;
    margin: auto;
}

h2 {
    margin: 5px 0 10px;
    padding: 0 0.6em 0.5em;
    font-weight: 500;
    border-bottom: 2px solid var(--c-gray);
}

h3 {
    margin: 20px 0 5px 10px;
    padding: 0.3em 0.6em 0.4em;
    font-size: 1.1em;
    line-height: 1.3em;
    border-left: 4px solid var(--c-main);
}

p {
    margin: 0.8em 1em;
}

.flex_d {
    margin: 5px;
}
.flex_d > * {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 5px;
    padding: 10px;
    box-shadow: 1px 1px 3px #0003;
    background: #fff;
}
.flex_d dt {
    flex-basis: 6em;
    margin-right: 1em;
    font-weight: 500;
    line-height: 165%;
    letter-spacing: 0.05em;
    text-align: center;
}
#new .flex_d dd {
    margin-bottom: 6px;
}

.new_bug,
.new_ver,
.new_site {
    height: 1.3em;
    laine-height: 1.3em;
}
.new_bug {
    content: "バグ修正";
}
.new_ver {
    content: "ver.更新";
}
.new_site {
    content: "サイト更新";
}

/* PC / Pad */

@media (min-width: 700px) {
}


/* スマートフォン */

@media (max-width: 699px) {

    body {
        font-size: 0.95em;
    }

}


.link_sp,
.link_t,
.link_b,
.link_l,
.link_r,
.link_i {
    display: inline-block;
    text-decoration: none;
}


/* 強調リンク */
    
.link_sp {
    margin: 10px auto 20px;
    padding: 1em 2em;
    border: 3px solid var(--c-accent);
    border-radius: 10em;
    font-weight: bold;
    color: #fff;
    box-shadow: 3px 3px 3px var(--c-gray);
    background: var(--c-accent);
}
.link_sp:hover {
    color: var(--c-accent);
    background: var(--c-base);
}
.link_sp:active {
    color: var(--c-gray);
    border-color: var(--c-gray);
    background: var(--c-base);
}


/* 矢印リンク */

.link_t,
.link_b,
.link_l,
.link_r {
    padding: 0.8em 1.3em;
    font-weight: 500;
    line-height: 1.5em;
    color: var(--c-font-b);
    border: 3px solid var(--c-main);
    border-radius: 10em;
    background: #fff;
}
.link_t {
    margin-right: 1em;
}
.link_l {
    margin-left: 1em;
}
.link_r,
.link_i {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link_t:hover,
.link_b:hover,
.link_l:hover,
.link_r:hover,
.link_i:hover {
    color: var(--c-dark);
    border: 3px solid var(--c-lt-gray);
    background: var(--c-lt-gray);
}
.link_t:hover::before,
.link_b:hover::before,
.link_l:hover::before,
.link_r:hover::after,
.link_i:hover::after {
    position: relative;
    border-color: var(--c-accent);
}

.link_t:hover::before {
    top: -1px;
}
.link_l:hover::before {
    left: -1px;
}
.link_r:hover::after,
.link_i:hover::after {
    left: 0;
}

.link_t:active,
.link_b:active,
.link_l:active,
.link_r:active,
.link_i:active {
    color: var(--c-dk-gray);
    border: 3px solid var(--c-gray);
    background: var(--c-base);
}
.link_t:active::before,
.link_b:active::before,
.link_l:active::before,
.link_r:active::after,
.link_i:active::after {
    border-color: var(--c-gray);
}
.link_t::before,
.link_b::before,
.link_l::before,
.link_r::after,
.link_i::after {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    color: #999;
    border-top: 3px solid var(--c-main);
    border-left: 3px solid var(--c-main);
}
.link_t::before {
    margin-right: 0.6em;
    position: relative;
    top: 2px;
    transform: rotate(45deg);
}
.link_b::before,
summary::before {
    margin-right: 0.6em;
    position: relative;
    top: 2px;
    transform: rotate(45deg);
}
.link_l::before {
    margin-right: 0.7em;
    transform: rotate(-45deg);
    position: relative;
    top: -0.5px;
    left: 2px;
}
.link_r::after,
.link_i::after {
    margin-left: 0.8em;
    transform: rotate(135deg);
    position: relative;
    left: -3px;
}

summary {
    margin-top: 0.8em;
}
.link_b::after,
summary::before {
    
}

.link_i {
    text-align: left;
    margin-top: 0.5em;
    padding-right: 1.2em;
    font-weight: bold;
    border: 3px solid var(--c-main);
    border-radius: 50px;
}

.icon {
    margin: 8px;
    width: 32px;
    height: 32px;
    border: 3px solid var(--c-base);
    border-radius: 50px;
    box-shadow: 0 0 2px var(--c-dk-gray);
    background-size: 100%;
    background-repeat: no-repeat;
}

.scroll_x {
    max-width: 100%;
    overflow-x: scroll;
    padding: 0.5em 1em 0.8em;
}


/* スマートフォン */

@media (max-width: 699px) {

    ::-webkit-scrollbar {
        width: 4px;
    }

}
