
:root {
    --c-main: #7DBB7C;
    --c-sub: #BA8B40;
    --c-accent: #D3336F;
    --c-font: #555;
    --c-back: #FDEFF2;
}

body {
    color: var(--c-font);
    font-family: "Funnel Display", "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

a {
    color: var(--c-font);
}

.links {
    display: flex;
    margin: 5px;
    align-items: center;
    align-content: center;
    font-weight: bold;
    border-radius: 50px;
}

.icon {
    margin: 8px;
    width: 32px;
    height: 32px;
    box-shadow: 0 0 1px #333;
    border-radius: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
}


